header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  .logout img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }