<header>
    <div class="logo">
      <img src="../../assets/wallet.png" alt="Logo du site">
    </div>
    <nav>
      <ul>
        <li><a routerLink="/depenses" routerLinkActive="active" class="header-link">Dépenses</a></li>
        <li><a routerLink="/categories" routerLinkActive="active" class="header-link">Catégories</a></li>
      </ul>
    </nav>
    <div class="logout">
      <p> {{ email }} </p>
      <img src="../../assets/logout.png" routerLink="/login" alt="Logo de déconnexion" id="logout_img">
    </div>
  </header>
  