header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 50px;
  }

.logo img {
  width: 40px;
  height: 40px;
  margin: 0 30px;
}
nav {
  display: flex;
  align-items: center;
  width: 70%;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav li {
  margin-right: 10px;
}
nav a {
  text-decoration: none;
}
.header-link {
  color: #d7d7d7;
  font-weight: 500;
  font-size: 17px;
  margin: 0 15px;
}
.logout {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.logout p {
  margin : 0 10px;
}

.logout img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.active{
  color: #000; 
  font-size: 17px; 
  font-weight: bold; 
}