.add-category {
  display: flex;
  width: 250px;
  margin: 50px auto 30px auto;
  justify-content: center;
  cursor: pointer;
}
.add-category img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.add-category button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 0 0 10px;
  color: #000; 
  font-size: 16px; 
  font-weight: bold;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

  
.category-name {
  font-weight: bold;
}

.card {
  width: 400px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 100%;
  margin: 0 10px 0 10px;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  margin: 5px 20px;
}
.card-body h3 {
  color: #000; 
  font-size: 20px; 
  font-weight: bold; 
  margin: 0;
}

.card div {
  height: 100%;
  width: auto;
}
.card-image img {
  width: 30px;
  height: 30px;
}
.card-delete {
  margin-left: 10px;
}
.card-delete img {
  width: 15px;
  height: 15px;
  border-radius: 5px;
}